body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #302c2c;
}

.stopwatch {
    text-align: center;
    padding: 20px;
    background: #d579a1;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 350px;
}

.time {
    font-size: 2em;
    margin: 10px 0;
}

.buttons {
    display: flex;
    gap: 10px;
    margin-top: 15px;
}

button {
    padding: 10px 20px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.start { background-color: #4CAF50; color: white; }
.pause { background-color: #FFC107; color: white; }
.reset { background-color: #F44336; color: white; }
.lap { background-color: #2196F3; color: white; }

.laps {
    margin-top: 20px;
    margin-right: 100px;
    text-align: left;
}

.lap-time {
    font-size: 0.9em;
    margin-bottom: 100px;
    padding: 4px;
    background: #e0e0e0;
    border-radius: 100px;
}
